<h1> Strength Comparison </h1>

# enter the starting strength by choosing 3 exercises
  #

<hr>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
        </th>
        <th>
          Excercise
        </th>

        <th>
          1RM
        </th>

        <th>
        </th>
      </tr>

      <tr>
        <th rowspan="1">
          Starting Strength
        </th>

        <th>
          3 - Excercise dropdown menu
        </th>

        <th>
          1RM Value
        </th>

        <th>
          Date
        </th>

      </tr>

      <tr>
        <th rowspan="1">
          Ending Strength
        </th>

        <th>
          3 - Excercise dropdown menu
        </th>

        <th>
          1RM Value
        </th>

        <th>
          Date
        </th>

      </tr>
    </table>
  </div>
</div>

<h2> Display Result <h2>
# automatically populates the end strength with those excercises
