<h3>What Is The Push/Pull/Legs Split Routine?</h3>

<p>
  The push/pull/legs split is a very simple training method in which you split your body into three parts. And each part is then trained on its own separate day.
</p>

<p>
  In the “push” workout you train all the upper body pushing muscles, i.e. the chest, shoulders and triceps.
</p>

<p>
  In the “pull” workout you train all the upper body pulling muscles, i.e. the back and biceps.
</p>

<p>
  And in the “legs” workout you train the entire lower body, i.e. the quads, hamstrings, calves and abdominals.
</p>

<p>
  These three workouts are then alternated over however many weekly training sessions you choose to do.
</p>

<h3>
  Why Use A Push/Pull/Legs Split?
</h3>

<p>
  The push/pull/legs split is probably the most efficient workout split there is because all related muscle groups are trained together in the same workout.
</p>

<p>
  This means that you get the maximum overlap of movements within the same workout, and the muscle groups being trained get an overall benefit from this overlap.
</p>

<h3>
  Example:
</h3>

<figure class="figure">
  <img src="https://i.pinimg.com/originals/e3/a7/0a/e3a70a77ee11ca842097977851f17b50.jpg" width="600px" height="600px" alt="Push/Pull/Legs Exercises" class="figure-img img-fluid rounded img-thumbnail">
  <figcaption class="figure-caption">Fig.1 - Push, Pull, and Legs Routine.</figcaption>
</figure>

<hr>
